@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap");
body {
  font-family: "Roboto mono", monospace;
}
body a {
  text-decoration: none;
  display: inline;
  color: #030a14;
}
body header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
body header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #234e57;
}
body header .header-icons-container .icons {
  width: 350px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
body header .header-icons-container .icons span {
  color: #f2f8f9;
}
body nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
body nav .nav-logo-container {
  margin-left: 50px;
}
body nav .nav-logo-container img {
  width: 65px;
  margin-top: 3px;
}
body nav .nav-aboutUs-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
body nav .nav-aboutUs-link a {
  color: #030a14;
  border-bottom: #030a14 1px solid;
}

.grid-container {
  max-width: 1500px;
  margin: auto;
}

.index-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.index-body .index-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("../img/fondo-index.png");
}
.index-body .index-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}
.index-body .index-main-text {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  color: #f2f8f9;
}
.index-body .index-main-button {
  width: 110px;
  height: 50px;
  background-color: #48ADC2;
  display: grid;
  align-items: center;
}
.index-body .index-main-button a {
  font-weight: 700;
  font-size: 18px;
}

.articles-main {
  display: grid;
}
.articles-main .articles-news-container {
  background-color: #89C1CC;
  padding: 0 50px 40px;
}
.articles-main .articles-news-container .articles-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.articles-main .articles-news-container .articles-main-new .articles-news-img-container {
  grid-column: 1;
}
.articles-main .articles-news-container .articles-main-new .articles-news-img-container img {
  width: 75%;
}
.articles-main .articles-news-container .articles-main-new .articles-news-info-container {
  grid-column: 2;
  text-align: justify;
}
.articles-main .articles-news-container .articles-main-new .articles-news-info-container p {
  margin-bottom: 35px;
}
.articles-main .articles-posts-container {
  padding: 0 50px 40px;
}
.articles-main .articles-posts-container h3 {
  border-bottom: #234e57 2px solid;
  padding-bottom: 20px;
  text-align: center;
}
.articles-main .articles-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 470px;
  margin-bottom: 50px;
}
.articles-main .articles-posts-container .post-container p {
  margin-bottom: 35px;
  text-align: justify;
}
.articles-main .articles-posts-container .post-container img {
  width: 100%;
}
.articles-main .articles-button {
  padding: 10px 15px;
  border: #234e57 1px solid;
  font-size: 12px;
}

.top5-img-container {
  padding: 0 50px 40px;
}
.top5-img-container img {
  width: 90%;
}

.top5-main-container {
  padding: 0 50px 40px;
}
.top5-main-container h3 {
  border-bottom: #083942 1px solid;
  padding-bottom: 20px;
}
.top5-main-container article h1 {
  font-size: 35px;
}
.top5-main-container article img {
  width: 50;
}

.aboutUs-main-container {
  padding: 70px 40px;
  background-color: #89C1CC;
  margin-bottom: 50px;
}
.aboutUs-main-container .aboutUs-container {
  display: flex;
}
.aboutUs-main-container .aboutUs-container img {
  width: 320px;
  margin-right: 30px;
}
.aboutUs-main-container .aboutUs-container div p {
  text-align: justify;
}

.aboutUs-main-projects {
  padding: 0 50px 40px;
}
.aboutUs-main-projects h3 {
  border-bottom: 1px solid #234e57;
  padding-bottom: 35px;
  text-align: center;
}
.aboutUs-main-projects .project-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.aboutUs-main-projects .project-main-container .project-container {
  padding: 0 8px;
  text-align: justify;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #030a14;
  border-top: #083942 solid 35px;
  text-align: center;
}
footer section {
  color: #f2f8f9;
  text-align: center;
}