header
    section.header-icons-container
        .icons
            a(href="https://www.facebook.com/")
                span.flaticon-001-facebook
            a(href="https://www.twitter.com/")
                span.flaticon-002-twitter
            a(href="https://www.instagram.com/")
                span.flaticon-011-instagram
            a(href="https://www.youtube.com/")
                span.flaticon-008-youtube
    nav
        section.nav-logo-container
            a(href="index.html")
                img(src="../img/logo-brk-tech.svg", alt="Logo website")
        section.nav-aboutUs-link
            a(href="aboutMe.html") About me