main
    section(class="grid-container top5-img-container")
        img(src="../img/top5", alt="top 5")
    section.top5-main-container
        .grid-container
            h3 Opinión personal
            article
                h1 Informáticos más influyentes
                p Mentes más influyentes de nuestra época
                each i in [0, 1, 2, 3, 4]
                    +top5(photos[i],people[i],infoPeople[i])
