main
    section(class="grid-container top5-img-container")
        img(src="../img/top5", alt="top 5")
    section.top5-main-container
        .grid-container
            h3 Opini칩n personal
            article
                h1 Inform치ticos m치s influyentes
                p lista inform치ticos
                each i in news
                    +top5("hola",i,lorem)
