main.articles-main
    section.articles-news-container
        div(class="grid-container articles-main-new")
            h3 Artículo más reciente
            .articles-news-img-container
                img(src="../img/img-articulo-principal.jpg", alt="imagen del artículo")
            +principalNew("Artículo principal", lorem)
    section.articles-posts-container
        .grid-container
            h3 Otros artículos
            +box("hola.png", "prueba", lorem)
            +box("hola.png", "prueba", lorem)
            +box("hola.png", "prueba", lorem)