-const news = ["1","2","3gfhf","falta","una más"]
-const lorem = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ipsam optio et labore suscipit molestias! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ipsam optio et labore suscipit molestias!"
-const pageTitle = "Breaking Tech!"