header
    section.header-icons-container
        .icons
            a(href="https://www.facebook.com/")
                span(class="flaticon-001-facebook")
            a(href="https://www.twitter.com/")
                span(class="flaticon-002-twitter")
            a(href="https://www.instagram.com/")
                span(class="flaticon-011-instagram")
            a(href="https://www.youtube.com/")
                span(class="flaticon-008-youtube")
    nav
        section(class="nav-logo-container")
            a(href="index.html")
                img(src="/", alt="Logo website")
        section(class="nav-aboutUs-link")
            a(href="about-us.html") About me