@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

// Fonts
$Fuente1:'Roboto mono', monospace;

// Colors
$Color-primario: #48ADC2;
$Color-secundario: #234e57;
$Color-variacion: #083942;
$Color-claro: #89C1CC;
$Color-muy-claro: · #f2f8f9;
$Color-oscuro: #030a14;

// Box sizes
$Input-size: 90px;
$Textarea-size: 357px;
$Button-size: 361px;
$Form-size: 366px;